// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  min-height: 86vh;
  position: relative;
 }

.container-home form {
  padding-top: 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.type-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  margin-top: 35vh;
  padding-bottom: 20px;
  height: 100px;
}

.js-wrapper {
  padding-top: 36px;
  text-transform: uppercase;
  padding-bottom: 14vh;
}

.typed-cursor {
  display: none;
}

#type {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  opacity: 0.65;
  height: 42px;
}

.small-device-title {
  display: none;
}

@media only screen and  (max-width: 1340px) and (min-width: 812px) {

  .container-home form {
    position: relative;
    padding-top: 20vh;
  }

  .type-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    margin-top: 20vh;
    height: 80px;
  }

  #type {
    font-size: 28px;
    height: 29px;
  }

  .js-wrapper {
    padding-bottom: 10vh;
  }

}


@media only screen and  (max-width: 812px)  {

  .type-wrapper {
    display: none;
  }

  .container-home {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 6vh;
  }

  .container-home form {
    padding-top: 8vh;
    padding-bottom: 10vh;
    position: relative;
    top: 5vh;
  }

  .small-device-title {
    display: block;
    text-align: center;
    padding-top: 10vh;
    color: white;
    font-size: 20px;
  }

}
