
<div class="footer" id='footer'>
  <div class="footer-links">
    <a href="https://github.com/zanetauba"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/zaneta-uba-a35186b3/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Powered by <span class="author">Zaneta Uba </span><i class="fas fa-cat"></i>
  </div>
</div>
