.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: #fd7f13;
}

.footer-links a:hover {
  opacity: 1;
}


#footer {
  background-color: white !important;
  margin-bottom: 0px;
  margin-top: 1px;
}

.fa-cat {
  color: #fd7f13;
  font-size: 20px;
}

.footer-copyright {
  margin-right: 10px;
}

.author {
  font-weight: bold;
  padding-right: 8px;
}

@media only screen and  (max-width: 812px) and (min-width: 550px) {

.footer-copyright {
  font-size: 10px;
  margin-right: 0px;
  margin-bottom: 2px;
}

.footer-links a {
  font-size: 22px;
}

}



@media only screen and  (max-width: 550px)  {

.footer-copyright {
  font-size: 10px;
  margin-right: 0px;
  margin-bottom: 2px;
}

.footer-links a {
  font-size: 22px;
}

.footer{
padding: 0px 25px;
}

}
