.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  min-width: 30vw;
  min-height: 100vh;
  position: sticky;
  top: 0;
}
