.form-control {
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 40px;
  width: 19vw;
  margin: 0 12px;
}

.btn-primary, .btn-success {
  border-radius: 10px;
  font-weight: 500;
  color: white;
  margin: 0 10px;
}
