/*main divs*/

.listing-show-details {
  padding: 0px 20px 20px 20px;
  background-color: white;
  margin-top: 20px;
}

.booking-form {
  margin-top: 20px;
  position: sticky;
  top: 0;
}



/*fotorama*/

.photos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
  background: white !important;
}

.fotorama img.fotorama__img {
  min-width: 1000px !important;
}

.fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
  min-width: 1000px !important;
}

.fotorama div.fotorama__thumb img.fotorama__img {
  min-width: inherit !important;
}

.fotorama--fullscreen .fotorama__loaded img {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain !important;
  top: 0px !important;
  left: 0px !important;
}

.fotorama--fullscreen .fotorama__nav-wrap {
  display: none !important;
}


/*cards content*/

.listing-title-and-photo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 25px;
  padding-top: 25px;
  align-items: center;
  h4{
    align-self: center;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 700;
  }
}

.listing-description-show {
  font-style: italic;
}

.list-listing-details {
  padding-top: 20px;
  color: grey;
  li {
    font-size: 14px;
    font-weight: 300px;
  }
  .fas {
    font-size: 16px;
    padding-right: 6px;
  }
}

.list-listing-details .fas {
  color: $orange;
}

.avatar-listing {
  height: 70px;
  width: 70px;
  align-items: center;
}

.price-wrapper-show {
  padding-top: 10px;
  font-size: 18px;
  .fas {
    color: $orange;
    font-size: 19px;
  }
}

.listing-price {
  text-align: right;
  padding-bottom: 25px;
}



/*reviews*/

.listing-reviews-wrapper {
  border-top: 1px solid #e0e0e0;
  padding-top: 25px;
}

.listing-reviews-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 10px;
  p {
    align-self: center;
    margin-bottom: 0px;
    font-weight: 700;
    padding-top: 3px;
    padding-left: 10px;
  }
}

.comments-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px 10px 30px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-bottom: 20px;
}

.comment-details{
  margin-left: 30px;
  padding: 10px 40px;
  p{
    margin-bottom: 0px;
  }
  #star-rating{
    padding-top: 15px;
    padding-bottom: 7px;
  }
}

.bold-name {
  font-weight: 700;
}

.comment-date {
  font-weight: 100;
  color: grey;
  font-size: 14px;
}

.comment-content {
  color: grey;
  font-weight: 200;
}

.empty-reviews-box {
  padding-top: 35px;
  padding-left: 20px;
}


/*booking form*/

.not-able-to-book {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding: 30px 15px 30px 15px;
  border-radius: 8px;
  position: sticky;
  top: 0;
  p{
    align-self: center;
    font-weight: 500;
    color: grey;
  }
  .fas {
    padding-right: 5px;
    color: #efcb00;
  }
  .fas.fa-heart {
    color: red;
  }
}

.btn-book.btn-plus {
  border-radius: 50px;
  font-size: 28px;
  font-weight: 700;
  padding: 2px;
  width: 50px;
}

.listing-button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listing-button-wrapper .btn-book {
  width: 200px;
  font-size: 14px;
  margin-top: 15px;
}


/*map*/

#map.listing-map {
  height: 250px !important;
  margin-left: 3vw;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 94vw !important;
  .mapboxgl-popup {
    display: none;
  }
}


@media only screen and  (max-width: 992px) and (min-width: 550px) {

  .fotorama img.fotorama__img {
    min-width: 550px !important;
  }

  .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
    min-width: 550px !important;
  }

  .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.listing-show-details {
    padding-left: 25px;
    padding-right: 25px;
   }

  .listing-title-and-photo h4 {
    font-size: 18px;
  }

  .price-wrapper-show .fas {
    font-size: 18px;
  }

  .price-wrapper-show {
    font-size: 17px;
  }

  .not-able-to-book {
    margin-left: 0px;
  }

  #new_booking {
    margin-left: 0px !important;
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    .form-control {
      margin-top: 5px;
    }
  }

  .form-group.booking_pet_id {
    padding-bottom: 5px !important;
  }
}


@media only screen and  (max-width: 550px)  {

  .fotorama img.fotorama__img {
    min-width: 100vw !important;
  }

  .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
    min-width: 100vw !important;
  }

  .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.listing-show-details {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 2px;
   }


  .listing-title-and-photo {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .listing-price {
    padding-bottom: 10px;
  }

  .empty-reviews-box {
    padding-top: 15px;
  }

  .listing-title-and-photo h4 {
    font-size: 16px;
  }

  .price-wrapper-show .fas {
    font-size: 16px;
  }

  .price-wrapper-show {
    font-size: 15px;
  }

  .not-able-to-book {
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 25px;
    p {
      font-size: 14px;
      margin-bottom: 6px;
    }
  }

  .btn-book.btn-plus {
    font-size: 20px;
    width: 36px;
  }

  #new_booking {
    margin-left: 0px !important;
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    .form-control {
      margin-top: 5px;
    }
  }

  .form-group.booking_pet_id {
    padding-bottom: 5px !important;
  }

  .comments-wrapper {
    padding: 5px 10px 7px 10px;
  }

  .avatar.avatar-listing {
    margin-left: 0px;
  }

  .comment-details {
    margin-left: 0px;
    font-size: 14px;
  }

  .comment-details #star-rating {
    padding-top: 1px;
  }

  .listing-reviews-title {
    font-size: 16px;
    #star-rating img {
      width: 20px;
    }
    p {
      padding-top: 5px;
    }
  }

  .listing-button-wrapper .btn-book {
    font-size: 14px;
    margin-top: 8px;
  }
}
