.show-pet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;

    img {
          object-fit: cover;
          width: 800px;
          height: 500px;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
    }

  h4 {
    color: $orange;
    font-weight: 700;
  }

}

.pet-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 35px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  width: 800px;
}


.pet-created {
  font-size: 14px;
  color: grey;
  font-weight: 300;
}


.pet-owner span {
  font-weight: 700;
}

.pet-owner:hover {
  color: $orange;
}




  @media only screen and  (max-width: 992px) and (min-width: 550px) {


  .show-pet-wrapper img {
    width: 500px;
    height: 300px;
  }

  .pet-details {
    width: 500px;
  }
  }



  @media only screen and  (max-width: 550px)  {
  .show-pet-wrapper img {
    width: 280px;
    height: 300px;
  }

  .pet-details {
    width: 280px;
  }

  .pet-owner {
    font-size: 14px;
  }

  .pet-created {
    font-size: 12px;
  }
}
