.form-centered.new-review {
  margin-top: 60px;

  input#review_content {
    height: 120px;
    text-align: left;
  }
}


.btn-book.btn-review {
  width: 170px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 30px;
}


#new_review {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


@media only screen and  (max-width: 550px)  {

.form-centered.new-review {
  margin-top: 30px;
}

}
