/*main divs*/
.container.container-dashboard{

    min-width: 70vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

.display {
 /* height: 530px;*/
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

.row {
  min-width: 70vw;
}


.requests {
  padding-left: 30px;
  padding-right: 30px;
    min-width: 70vw;

}

.upcoming-hostings {
  height: 445px;
}

.expired-hostings {
  height: 410px;
}

.requests > .incoming-cards {
  width: inherit;
}

.decription-dashboard {
padding-top: 12px;
padding-bottom: 0px;
li {
  padding: 2px 0px;
  color: grey;
  font-size: 14px;
  padding-left: 20px;

}
}





.no-content {
  height: 130px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  color: grey;
}

.no-requests {
  height: 70px;
  text-align: center;
  justify-text: center;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  color: grey;
}

.display-requests {
  height: 115px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-bottom: 25px;
  text-align: center;
  justify-text: center;
  color: grey;

}

.display-requests p a:hover {
  color: $orange;
}


.col-xs-12, .col-xl-6, .col-sm-12, .col-md-6, .col-lg-6 {
  padding-left: 0px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.dashboard-column {
  padding-left: 160px;
  padding-right: 20px;
}

.left-column{
  margin-right: 0px;
}





/*contents inside cards*/

.status {
  display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    margin-left: -20px;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accepted {
  background: green;
}

.pending {
  background: red;
}


.img-dashboard {
  height: 180px;
  width: 310px;
  object-fit: cover;

  }

.radius {
  border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: -25px;
    left: -25px;
    object-fit: cover;
}



.link-to a:hover, .link-to-card:hover {
  color: $orange;
}


 a {
  color: inherit;
  &:hover{
  color: inherit;
  text-decoration: none;
}
}



.title-dashboard {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    padding-left: 20px;
}


.review-blocked{
  color: grey;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  &:hover {
  color: grey;
}
}


.title-cards {
  margin-bottom: 40px;
  background-color: $orange;
  padding: 20px 30px;
  color: white;
  width: 350px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  text-align: center;
}


/*buttons*/

.btn-show-more {
  color: $orange;
  border-color: $orange;
  border-width: 2px;
  border-radius: 20px;
  font-size: 14px;
  width: 180px;
  text-align: center;
  justify-self: center;
  &:hover {
    background-color: $orange;
    color: white;
}
}


.btn-cancel.btn-review{
  margin-left: 88px;
  &:hover {
  color: white;
}
}


.btn-outline-radius {
  border-radius: 20px;
  font-size: 14px;
}

.btn-cancel {
  font-size: 14px;
  border-radius: 20px;
  margin-top: 13px;
  text-align: center;
  margin-left: 75px;
  margin-bottom: 48px;
}



/*Font awesome*/

.decription-dashboard .fas, .display-requests .fas {
  font-size: 20px;
  color: $orange;
  padding-right: 10px;
}



.review-blocked > .fas {
  color: red;
  font-size: 15px;
  padding-right: 6px;
}





@media only screen and  (max-width: 1340px) and (min-width: 992px) {

.display-requests > .btn-outline-radius {
  margin-top: 0px;
}

.btn.btn-success.btn-outline-radius {
  width: inherit;
}

.container.container-dashboard {
  padding-bottom: 80px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.dashboard-column{
  padding-left: 100px;
}

}



  @media only screen and  (max-width: 992px) and (min-width: 550px) {

  .title-cards {
    margin-bottom: 45px;
  }

  .display-requests{
    font-size: 14px;
  }

  .btn.btn-success.btn-outline-radius {
  width: inherit;
}

.display-requests > .btn-outline-radius {
  margin-top: 2px;
  font-size: 13px;
}

.container.container-dashboard {
  padding-bottom: 50px;
}

.decription-dashboard .fas, .display-requests .fas {
  font-size: 15px;
}


.display-requests {
  height: 125px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.dashboard-column {
  padding-left: 18vw;
  padding-right: 0px;
}

}



@media only screen and  (max-width: 550px)  {

.display-requests{
    font-size: 12px;
  }

.display-requests > .btn-outline-radius {
  margin-top: 0px;
  font-size: 12px;
}

.display-requests > p {
  margin-bottom: 10px;
}

.display-requests {
  height: 132px;
}

.decription-dashboard .fas, .display-requests .fas {
  font-size: 14px;
}

  .btn.btn-success.btn-outline-radius {
  width: inherit;
}

.title-cards {
  margin-top: 60px;
  margin-bottom: 40px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.dashboard-column {
  padding-left: 11vw;
}

.container.container-dashboard {
  padding-top: 40px;
  padding-bottom: 20px;

}

.display, .title-cards, .no-content{
  width: 270px;
}

.img-dashboard {
  width: 230px;
}

.btn-cancel {
  margin-left: 45px;
}

.radius {
  width: 90px;
  height: 90px;
}

.no-content {
  height: 145px;
  margin-bottom: 10px;
}

.no-requests {
  font-size: 12px;
  width: 75vw;
  margin-top: 30px;
  margin-bottom: 40px;
}
.requests {
  padding-left: 20px
}
}

