.form-centered.form-forgot-password .buttons-login{
  padding-bottom: 15px;
}


.form-centered.form-forgot-password {
  padding-bottom: 40px;

  .btn-send-password {
    width: 315px;
  }
}


@media only screen and  (max-width: 550px)  {

  .form-centered.form-forgot-password .btn-send-password {
    font-size: 12px;
    width: 240px;
  }

  .form-centered.form-forgot-password {
    padding-bottom: 10px;
    padding-top: 10px;
  }

}
