/*main divs*/

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}


.user-profile-wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 750px;
  align-self: center;
  padding: 20px 20px 30px 30px;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

/*profile*/

.profile-photo {
  height: 230px;
  width: 230px;
  object-fit: cover;
  border-radius: 1000px;
}


.user-details {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  div{
  padding-right: 20px;}
  #star-rating {
    padding-top: 20px;
    p {
      padding-top: 10px;
      font-weight: 300;
      span {
        font-weight: 500;
      }
    }
  }
}

.name-surname {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}

.user-small-font {
  font-weight: 300;
  color: grey;
  font-size: 14px;
  span {
    font-weight: 500;
    color: black;
  }
}

.user-no-rating {
  padding-top: 30px;
  .fas {
    color: $orange;
    padding-right: 5px;
  }
}

.add-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border-left: 1px solid #e0e0e0;
  .btn.btn-show-more{
    margin-bottom: 10px;
  }
}




/*cards content*/



.user-pets-listings-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;

  img {
      object-fit: cover;
      width: 300px;
      height: 200px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      box-shadow: 3px 3px 6px rgba(0,0,0,0.2);

  }
}

.pet-name-card {
  background-color: white;
  text-align: center;
  padding: 20px 30px 20px 30px;
  width: 300px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);

}

.pet-name-card:hover {
  color: $orange;
}


.user-row {
  padding-left: 100px;
  padding-right: 100px;
}

.user-row.row {
  margin-left: 0px;
  margin-right: 0px;
}


.user-listings-small-cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 20px 30px 20px 30px;
  width: 300px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}


.small-cards-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.small-card-detail {
  color: grey;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  .fas {
    color: $orange;
    padding-right: 5px;
  }
}

.small-cards-title:hover, .user-listings-small-cards:hover {
  color: $orange;
}

.user-row-bottom {
  padding-bottom: 50px;
}

.title-user-profile-section {
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
  margin-top: 60px;
  margin-bottom: 35px;
  padding: 10px 15px 15px 15px;
  color: white;
  background-color: $orange;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  width: 95vw;
}


.no-pets-listings {
  width: 95vw;
  margin: auto;

}

.no-pets-listings.no-pets-listings-last {
  margin-bottom: 50px;

}



@media only screen and  (max-width: 1400px) and (min-width: 992px) {

  .user-profile-wrapper {
    width: 720px;
  }

  .profile-photo {
    height: 180px;
    width: 180px;
  }

  .user-details #star-rating p {
    font-size: 15px;
  }

  .name-surname {
    font-size: 20px;
  }

  .user-details #star-rating img {
    width: 20px;
  }

 .user-details div {
  padding-right: 17px;
 }

 .add-buttons {
  padding-left: 30px;
 }
}



  @media only screen and  (max-width: 992px) and (min-width: 799px) {
    .user-profile-wrapper {
      width: 60vw;
    }

  .title-user-profile-section{
    width: 90vw;
  }

  .no-pets-listings{
    width: 90vw;
  }

  .profile-photo {
    height: 100px;
    width: 100px;
  }

  .name-surname {
    font-size: 16px;
  }

  .user-small-font {
    font-size: 12px;
  }

  .user-no-rating {
    font-size: 14px;
  }

  .add-buttons {
    padding-left: 18px;
  }
  .user-details div {
    padding-right: 13px;
  }

  .user-details {
    padding-left: 20px;
  }

  .btn-show-more {
    font-size: 12px;
    width: 150px;
  }

  .user-details #star-rating p {
    font-size: 12px;
  }

  .user-details #star-rating  {
    font-size: 12px;
    padding-right: 0px;
  }

  .user-details #star-rating img {
    width: 18px;
  }

}


  @media only screen and  (max-width: 799px) and (min-width: 550px) {

  .user-profile-wrapper {
      width: 560px;
    }

  .title-user-profile-section{
    width: 90vw;
  }

  .no-pets-listings{
    width: 90vw;
  }

  .profile-photo {
    height: 100px;
    width: 100px;
  }

  .name-surname {
    font-size: 16px;
  }

  .user-small-font {
    font-size: 12px;
  }

  .user-no-rating {
    font-size: 14px;
  }

  .add-buttons {
    padding-left: 18px;
  }
  .user-details div {
    padding-right: 13px;
  }

  .user-details {
    padding-left: 20px;
  }

  .btn-show-more {
    font-size: 12px;
    width: 150px;
  }

  .user-details #star-rating p {
    font-size: 12px;
  }

  .user-details #star-rating  {
    font-size: 12px;
    padding-right: 0px;
  }

  .user-details #star-rating img {
    width: 16px;
  }
  }



  @media only screen and  (max-width: 550px)  {

  .user-profile-wrapper {
      width: 98vw;
      padding: 10px;
    }

  .title-user-profile-section{
    width: 93vw;
  }

  .no-pets-listings{
    width: 90vw;
  }

  .profile-photo {
    height: 60px;
    width: 60px;
  }

  .name-surname {
    font-size: 14px;
  }

  .user-small-font {
    font-size: 10px;
  }

  .user-no-rating {
    font-size: 14px;
  }

  .add-buttons {
    padding-left: 10px;
  }
  .user-details div {
    padding-right: 13px;
  }

  .user-details {
    padding-left: 20px;
  }

  .btn-show-more {
    font-size: 10px;
    width: 80px;
    padding: 5px;
  }

  .user-details #star-rating p {
    font-size: 12px;
  }

  .user-details #star-rating  {
    font-size: 12px;
    padding-right: 0px;
  }

  .user-details #star-rating img {
    width: 13px;
  }

  .row.user-row {
    padding-right: 5px;
    padding-left: 5px;
  }

  .user-pets-listings-card img {
    width: 87vw;
    height: 180px;
  }

  .pet-name-card {
    width: 87vw;
  }

  .user-listings-small-cards {
    width: 87vw;
  }
}
