/*main divs*/

.booking-show-wrapper.form-centered {
  flex-direction: row;
  width: inherit;
  margin: 40px 5vw;
  justify-content: space-evenly;
  .fas {
    color: $orange;
  }
}



/*card content*/

.bold {
  font-weight: 700;
}


.date-of-stay {
  align-self: center;
  font-size: 20px;
  color: white;
  background-color: $orange;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 40px;
  text-align: center;
}


.booking-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 30px 20px;
}


.booking-photos {
  padding: 20px 20px 30px 70px;
}

.price-of-booking{
   text-align: center;
 }

.booking-buttons-wrapper {
  margin-top: 30px;
}

.btn-rate-booking {
  border-color: #1EDD88;
  color: #1EDD88;
  &:hover {
    color: white;
    background-color: #1EDD88;
  }
}


.pet-link a:hover {
  color: $orange;
}


.missed-booking {
  color: red;
  .fas.fa-exclamation-circle {
    color: red;
    padding-right: 5px;
  }
}


.pending-booking {
  color: $orange;
  .fas {
    padding-right: 5px;
  }
}



/*photos*/

.booking-show-wrapper.form-centered {

  .fotorama img.fotorama__img {
    /*min-width: 500px !important;
    max-width: 500px !important;*/
  }

  .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
    min-width: 500px !important;
    max-width: 500px !important;
  }

  .fotorama div.fotorama__thumb img.fotorama__img {
    min-width: inherit !important;
  }

}





@media only screen and  (max-width: 1340px) and (min-width: 992px) {


  .booking-show-wrapper.form-centered {
    margin: 40px 5vw;

  .fotorama img.fotorama__img {
    /*min-width: 300px !important;
    max-width: 300px !important;*/
  }

  .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
    min-width: 300px !important;
    max-width: 300px !important;
  }

  .fotorama div.fotorama__thumb img.fotorama__img {
    min-width: inherit !important;
  }

  }


  .booking-photos {
    padding-left: 20px;
  }

  .date-of-stay {
    font-size: 18px;
  }

}




@media only screen and  (max-width: 992px) and (min-width: 550px) {

  .missed-booking, .pending-booking {
    text-align: center;
    font-size: 14px;
    align-self: center;
  }

  .booking-show-wrapper.form-centered {
    margin: 40px 5vw;

  .fotorama img.fotorama__img {
   /* min-width: 250px !important;
    max-width: 250px !important;*/
  }

  .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
    min-width: 250px !important;
    max-width: 250px !important;
  }

  .fotorama div.fotorama__thumb img.fotorama__img {
    min-width: inherit !important;
  }

  }

  .booking-details  {
    align-items: center;
  }

  .pet-link {
    text-align: left;
    align-self: left;
  }

  .booking-photos {
    padding-left: 20px;
  }

  .date-of-stay {
    font-size: 16px;
    white-space: normal;
  }

}




@media only screen and  (max-width: 550px)  {


  .booking-show-wrapper.form-centered {
      margin: 40px 5vw;
      flex-direction: column;
    .fotorama img.fotorama__img {
    /*  min-width: 250px !important;
      max-width: 250px !important;*/
    }
    .fotorama__stage, .fotorama__stage__shaft, .fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--fade.fotorama__wrap--toggle-arrows {
      min-width: 250px !important;
      max-width: 250px !important;
    }
    .fotorama div.fotorama__thumb img.fotorama__img {
      min-width: inherit !important;
    }
  }

  .booking-buttons-wrapper {
    margin-top: 15px;
  }

  .booking-buttons-wrapper .btn-show-more {
    width: 90px;
  }

  .booking-details  {
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .booking-photos {
    padding-left: 20px;
  }

  .date-of-stay {
    font-size: 16px;
    white-space: normal;
    text-align: center;
  }

  .pending-booking, .missed-booking {
    text-align: center;
    font-size: 14px;
  }

  .booking-photos {
    padding: 20px 10px 20px 10px;
  }

}
